<style type="text/css">


#signup{

		width: 60% ;
			position: absolute;
			right: 10%;
			top: 25%;
			width: 25%;
			height: 50%;
	}

#msg{

		position: relative;
		left: 30%;
	}

		body{
		background-image:url(img2.jpg);
		background-repeat:no-repeat;
		background-size:cover;
		}

		* {
			box-sizing: border-box;
		}

		.sidenav{
			position: relative;
				width: 20%;
				height: 100%;
				padding-top: 5%;
				background-color: black;
				float: left;

		}
		.sidenav a {

			color: #818181;;
			font: 200% bold;
			padding-left: 20%;

		}
		.sidenav a:hover {
			color: #f1f1f1;

		}


		.logo{


			width: 80%;
			position: relative;
				left: 10%;
		}
		.sidenav h1{

			color: white;
			font: 150% bold;
			text-align: center;;
		}

		.rectangle{
			background: rgba(255, 255, 255,1);
			position: absolute;
			left: 5%;
			top: 5%;
			width: 90%;
			height: 90%;

		}

		* {
	box-sizing: border-box;
}

.row {
	display: flex;
}

/* Create two equal columns that sits next to each other */
.column {
	flex: 50%;
	padding: 10px;
}

</style>
